.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100dvw;
    height: 100dvh;
    padding-block: 80px;
    background-color: #F5F5FA;
}

.container {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 600px;
    height: 90dvh;
    gap: 20px;
    background-color: #FFFFFF;
    border-radius: 12px;
    padding-block: 60px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    gap: 16px;
    width: 80%;
    padding-bottom: 20px;
}

.input-container div {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.input-container h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #32325F;
}

.letras-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    gap: 16px;
    width: 80%;
    border-top: solid 1px #C3C3C3;
    padding-top: 20px;
}

.letras-container h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #32325F;
}

.letras-container div {
    display: flex;
    flex-direction: row;
    gap: 12px;
}