.button {
    background-color: #6363DB;
    border: 2px #4F4FB9 solid;
    border-radius: 8px;
    color: #FFFFFF;
    width: 106px;
    height: 46px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;

}