.input input {
    display: flex;
    border-radius: 10px;
    width: 48px;
    height: 48px;
    background-color: #EBEBFC;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 700;
    border: solid 2px #4F4FB9;
    text-align: center;
    color: #4F4FB9;

    &:focus {
        outline: none;
        border-color: #E8891C;
        color: #E8891C;
    }
}
