.letras {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    width: 48px;
    height: 48px;
    background-color: #FFCF62;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    color: #000000;
    font-weight: 700;
    border: solid 1px #691B0A;
}