.tentativas {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    padding-block: 20px;
}

.tentativas img {
    width: 28px;
    height: 28px;
}

.tentativas a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: #9B9B9B;
}

.tentativas span {
    color: #E8891C;
    font-weight: 700;
}